@model innovation4austria.web.Models.FurnishingModel

@{
    ViewBag.Title = "RoomDetail";
}
<div class="container">
    <h2>RoomDetail</h2>

    <div>

        <h4>FurnishingModel</h4>
        <hr />
        <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(x => x.Description)
            </div>
            <div class="col-md-3">
                @Html.TextBoxFor(x => x.Description, new { placeholder = "Ausstattung", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Description)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button type="submit" class="btn btn-primary btn-lg">Speichern</button>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>