@model IEnumerable<innovation4austria.web.Models.FurnishingModel>

@{
    ViewBag.Title = "RoomDetail";
}
<div class="container">
    <h2>RoomDetail</h2>

    @if (User.IsInRole("admin"))
    {
        foreach (var furnishing in Model)
        {
            <div class="row">
                <div class="col-md-2 hidden-xs hidden-sm">
                    @furnishing.Description
                </div>
                <div class="col-md-2 col-sm-4">
                    <a href="@Url.Action("CreateFurnishing", "Room", new { id =  furnishing.Room_ID })">Erstellen</a>
                </div>
            </div>

        }
    }
    else
    {
        foreach (var furnishing in Model)
        {
            <div class="row">
                <div class="col-md-2 hidden-xs hidden-sm">
                    @furnishing.Description
                </div>
            </div>

        }
    }

    <p>
        @Html.ActionLink("Zurück", "Index")
    </p>
</div>